
<details>
    <summary>
        URL summary
    </summary>

    {{#urlList}}
    {{#pad}}{{#toUpperCase}}{{{method}}}{{/toUpperCase}}{{/pad}} [{{{url}}}](#operation/{{{uid}}})  
    {{/urlList}}
</details>
